.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.controlContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* button{
    font-size: 1rem;
} */
 h2{
    margin-bottom: 2px;
 }